html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/*#page-wrapper {
    min-height: 100%;
    margin: -60px auto 0;
}

footer {
    height: 60px;
}*/

.project-list-item {
	border: 1px solid red;
}

.text-center {
	text-align: center;
}

img {
	width: 100%;
}

.progress {
	margin-top: 10px;
}

.ng-cloak {
  display: none !important;
}

#toast-container {
	top: 60px;
}