<div class="row">
	<h1 class="text-center">{{ vm.project.name }}</h1>
	<div class="row text-center">
		<span>Owner: </span>
		<a href="#/users/profile/{{vm.project.innovator}}"><strong>{{ vm.project.innovator }}</strong></a>
	</div>
	<hr>
	<div class="row">
		<div ng-repeat="image in vm.project.images" class="image-container">
			<img src="{{ image }}" alt="image">
		</div>
		<h4><strong>Goal : {{ vm.project.goalMoney }} $</strong></h4>
		<h4><strong>Collected : {{ vm.project.collectedMoney }} $</strong></h4>
		<h4><strong>Estimated date: {{ vm.project.estimatedDate | date }}</strong></h4>
		<h4><strong>Completed: {{ vm.project.collectedMoney / vm.project.goalMoney * 100 | number:2 }} %</strong></h4>
		<div class="progress">
			<div class="progress-bar progress-bar-success" style="width: {{vm.project.collectedMoney/vm.project.goalMoney * 100}}%"></div>
		</div>
		<button class="btn btn-success">Donate</button>
	</div>
	<hr>
	<div class="row">
		<p>{{ vm.project.description }}</p>
	</div>
</div>
<!-- <div class="col-md-5">
		<h4><strong>Completed</strong></h4>
		<h4><strong>Collected</strong></h4>
		<h4><strong>Goal</strong></h4>
		<h4><strong>Estimated date</strong></h4>
</div>
<div class="col-md-5">
		<h4><strong>{{ project.collectedMoney / project.goalMoney * 100 | number:2 }} %</strong></h4>
		<h4><strong>{{ project.collectedMoney }} $</strong></h4>
		<h4><strong>{{ project.goalMoney }} $</strong></h4>
		<h4><strong>{{ project.estimatedDate | date}}</strong></h4>
</div> -->