<div class="row">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title text-center">User Profile</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-6 col-md-offset-4">
				<h4><strong>Username : {{ vm.user.userName}}</strong></h4>
				<h4><strong>First name : {{ vm.user.firstName}}</strong></h4>
				<h4><strong>Last name : {{vm.user.lastName}}</strong></h4>
				<h4><strong>Balance : {{vm.user.moneyAmount}} $</strong></h4>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title text-center">{{vm.user.userName}}'s projects</h3>
		</div>
		<div class="panel-body">
			<div class="list-group">
				<div ng-repeat="project in vm.user.projects" class="list-group-item">
					<div project-list-item project="project"></div>
				</div>
			</div>
		</div>
	</div>
</div>